---
---

@import "minima";

/* Increase readability */
body {
  font-size: 17px;
  line-height: 1.7;
}

/* Make headings cleaner */
h1, h2, h3 {
  letter-spacing: -0.5px;
}

/* Reduce visual clutter */
.site-title {
  font-weight: 800;
}

.site-title {
  font-weight: 700;   /* makes it bold */
  letter-spacing: 1px;
}
