---
---

@import "minima";

/* Increase readability */
body {
  font-size: 17px;
  line-height: 1.7;
}

/* Make headings cleaner */
h1, h2, h3 {
  letter-spacing: -0.5px;
}

/* Reduce visual clutter */
.site-title {
  font-weight: 800;
}

.site-title {
  font-weight: 900;   /* makes it bold */
  letter-spacing: 1px;
}
/* Widen page layout */
.wrapper {
  max-width: 1200px;
}

.page-content {
  max-width: 1200px;
}
